@keyframes rotate {
    0% {
        background: linear-gradient(to bottom right, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e, #5f3178, #d351cf, #6c167f, #bf680a);
        ;
    }

    14% {
        background: linear-gradient(to bottom right, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e, #5f3178, #d351cf, #6c167f);
    }

    28% {
        background: linear-gradient(to bottom right, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e, #5f3178, #d351cf);
    }

    42% {
        background: linear-gradient(to bottom right, #d351cf, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e, #5f3178);
    }

    56% {
        background: linear-gradient(to bottom right, #5f3178, #d351cf, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e);
    }

    70% {
        background: linear-gradient(to bottom right, #9e580e, #5f3178, #d351cf, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f);
    }

    84% {
        background: linear-gradient(to bottom right, #6c167f, #9e580e, #5f3178, #d351cf, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf);
    }

    100% {
        background: linear-gradient(to bottom right, #d351cf, #6c167f, #9e580e, #5f3178, #d351cf, #6c167f, #bf680a, #5f3178, #d351cf, #6c167f, #df821f);
    }
}

@keyframes pic-move {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(-30%, -200%);
    }

    50% {
        transform: translate(0%, -400%) rotate(0deg);
    }

    75% {
        transform: translate(40%, -200%) rotate(360deg);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.star {
    animation: twinkle 2s linear infinite;
    z-index: 1;
}

.about-component-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    color: pink;
    background-color: rgb(0, 15, 56);
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 4%;
    background: linear-gradient(to bottom right, rgb(0, 3, 14), rgb(0, 6, 22), rgb(0, 15, 56), rgb(11, 25, 65));
    margin: 2% 0%;
    overflow: hidden;
}

.amongus-team-image {
    width: 80%;
    position: relative;
    top: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.amongus-pic {
    width: 35%;
}

.rightpic-container,
.leftpic-container {
    display: flex;
    flex-direction: column-reverse;
}

.right-pics-inline-container {
    display: inline;
    width: 40%;
    animation: pic-move 3s linear infinite;
    z-index: 999;
}

.left-pic-inline-container {
    display: inline;
    width: 40%;
    animation: pic-move 5s linear infinite alternate-reverse;
    z-index: 999;
}

.right-pics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.planet {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to bottom right, #5f3178, #d351cf, #6c167f, #df821f, #5f3178, #d351cf, #6c167f, #9e580e, #5f3178, #d351cf, #6c167f, #bf680a);
    border-radius: 50%;
    box-shadow: inset 10px 90px 90px #3b184f, inset 8px 5px 20px #2a1137;
    animation: rotate 2s linear infinite backwards;
}

.planet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planet-content {
    font-family: 'Among Us';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-heading {
    font-size: 300%;
    z-index: 999;
}

.about-content {
    max-width: 80%;
    font-size: 110%;
    font-family: monospace;
    padding: 10px;
}

@media (max-width:768px) {
    .about-component-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .leftpic-container,
    .rightpic-container {
        display: none;
    }
}