.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 0;
}

.contact-image {
  height: 400px;
  position: relative;
  bottom:0%;
}

#insta {
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
}

#linkedin {
  position: absolute;
  top: 73%;
  right: 25%;
  transform: translate(50%, -50%);
}

#mail {
  position: absolute;
  top: 76%;
  left: 13%;
  transform: translate(50%, -50%);
}
#twitter {
  position: absolute;
  top: 118%;
  left: 19%;
  transform: translate(50%, -50%);
}
#discord {
  position: absolute;
  top: 118%;
  right: 30%;
  transform: translate(50%, -50%);
}


@media (max-width: 1024px) {
  .contact-image{
    width: 700px;
  }
}

@media (max-width: 740px) {
  .contact-image{
    width: 500px;
  }
}

@media (max-width: 470px) {
  .contact-image{
    width: 350px;
  }
}
@media (max-width: 370px) {
  .contact-image{
    width: 300px;
  }
}
@media (max-width:740px)
{
  #insta{display: none;}
  #discord{display: none;}
  #twitter{display: none;}
  #mail{display: none;}
  #linkedin{display: none;}
  .contact-container .contact-image
  {
    height:250px;
    width:250px;
  } 
}
