.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 0;
}

.contact-image {
  height: 400px;
  position: relative;
}

#insta {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%, -50%);
}

#linkedin {
  position: absolute;
  top: 30%;
  right: 27%;
  transform: translate(50%, -50%);
}

#mail {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(50%, -50%);
}
#twitter {
  position: absolute;
  top: 60%;
  left: 19%;
  transform: translate(50%, -50%);
}
#discord {
  position: absolute;
  top: 60%;
  right: 30%;
  transform: translate(50%, -50%);
}
