.home-container {
  /* margin: 25px 100px; */
  /* margin-left: 500px; */
  justify-content: space-between;
  align-items: last baseline;
  gap: 20px;
}

.susHacks {
  width: 370px;
  height: 389px;
}

.logo {
  padding: 40px;
  margin-right: 500px;
}

.start {
  position: relative;
  padding: 40px;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "among us";
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 86px;
  padding: 10px 20px;
  margin-left: -19px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  transition: color 0.3s;
}
.register:hover {
  color: lightblue; /* Change color on hover */
}
@media (max-width: 1024px) {
  .home-container {
    /* margin-left: 20px; */
    margin-top: -107px;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
  }
  .susHacks {
    width: 220px;
    height: 240px;
  }
  .start {
    bottom: -70px;
    margin-bottom: 60px;
  }
  .start .start-register {
    width: 150px;
    height: 80px;
  }
  .register {
    font-size: 65px;
    padding: 10px 20px;
    margin-left: -10px;
  }
}

@media (max-width: 740px) {
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    margin-left: 20%;
    margin-top: 35px;
    gap: 20px;
  }
  .susHacks{
    height:200px;
    width:200px;
  }
  .register{
    font-size: 50px;
    padding: 10px 20px;
    top: 110px;
    left: -100px;
  }
  .start .start-register{
    position: relative;
    height: 100px;
    width:100px;
    top: 20px;
    left: -190px;
  }
}
