.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.susHacks {
  width: 370px;
  height: 389px;
}

.logo {
  padding: 40px;
  margin-right: 500px;
}

.start {
  position: relative;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "among us";
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 86px;
  padding: 10px 20px;
  margin-left: -19px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  transition: color 0.3s;
}
.register:hover {
  color: lightblue;
}

.rocket {
  position: absolute;
  top: 10%;
  left: 5%;
}
.floating-amongus{
  position: absolute;
  top:0%;
  right:3%;
}
@media (max-width: 1024px) {
  .home-container {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .susHacks {
    width: 220px;
    height: 240px;
  }
  .start {
    margin-bottom: 60px;
  }
  .start .start-register {
    width: 250px;
    height: 80px;
  }
  .register {
    font-size: 65px;
    padding: 10px 20px;
    margin-left: -10px;
  }
}

@media (max-width: 740px) {
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
  }
  .susHacks {
    height: 200px;
    width: 200px;
  }
  .register {
    padding: 0px 20px;
  }
  .start .start-register {
    position: relative;
    top: 0px;
  }
}
