nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 50px;
  font-family: "Among Us";
}

.nav_link {
  text-decoration: none;
  font-size: 48px;
  font-weight: 550;
  color: white;
  padding: 27px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s; /* Add transition effect for color change */
}

/* Add hover styles for the links */
.nav_link:hover {
  color: #88c2bb; /* Change color on hover */
}

.nav-button {
  padding: 45px;
  cursor: pointer;
  background: transparent;
  border: none;
  /* outline: none; */
  color: black;
  display: none;
  opacity: 0;
}

@media (min-width: 361px) and (max-width: 799px) {
  .navbar-container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
  }
  .nav-close {
    position: relative;
    top: 38px;
    right: 75px;
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    height: 50px;
    width: 120px;
    margin-right: -20px;
  }

  .nav-close {
    position: relative;
    top: -38px;
    right: 75px;
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 20px;
  }

  .active {
    color: #88c2bb;
  }
  .nav_link {
    padding: 10px;
    font-size: 50px;
  }

  .links {
    position: relative;
    top: -65px;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    position: fixed;
    top: 20px;
    right: 125px;
    margin-top: 20px;
    height: 540px;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.01rem;
    background: linear-gradient(180deg, #000000 1.94%, #151313 101.94%);
    transition: 1.5s;
    transform: skew(-40deg) translateX(150vh);
    background-color: black;
    border: 6px solid white; /* White border */
    z-index: 3;
  }
  .open {
    transition: 1s;
    transform: skewX(7deg);
  }
}
