/* Center the .faqs container */
.faqs {
  font-family: "Among Us";
  color: white;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center;
}

.content h1 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 30px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 800px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px;
  transition: height 0.3s;
}

.accordion-item {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.question {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-grow: 1;
  border-radius: 20px;
  text-shadow: 0 0 50px silver;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-right: 40px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 30px;
  transition: height 0.3s;
  display: none;
  color: white;
}

.accordion-container.expanded {
  height: 150px;
  border-radius: 20px;
}

.accordion-container.expanded .answer {
  display: block;
}
.ques {
  height: 100px;
  background-image: url("../../assets/Rectangle 152 (1).svg");
  background-size: cover;
  padding-left: 18px;
  padding-top: 9px;
  text-align: left;
}
