/* Center the .faqs container */
.faqs {
  font-family: "Among Us";
  color: white;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center;
}

.content h1 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 30px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 800px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px;
  transition: height 0.3s;
}

.accordion-item {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  flex-grow: 1;
  border-radius: 20px;
  font-family: var(--font);
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-right: 40px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-family: var(--font);
  transition: height 0.3s;
  display: none;
  color: white;
}

.accordion-container.expanded {
  height: 150px;
  border-radius: 20px;
}

.accordion-container.expanded .answer {
  display: block;
}
.ques {
  height: 100px;
  background-image: url("../../assets/Rectangle 152 (1).svg");
  background-size: cover;
  padding-left: 18px;
  padding-top: 9px;
  padding-bottom:10px;
  border-radius: 25px;
  border: 2px solid white;
  text-align: left;
}
@media (max-width: 1024px) {
  .faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing:0.7px;
  }
  .accordion-container {
    width: 500px;
  }
}

@media (max-width: 580px) {
  .ques
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content h1
  {
    font-size: 4rem;
    margin-left: -10px;
  }
  .content img{
    height: 80px;
    width: 80px;
  }
  .faqs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-container {
    width: 400px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-around;
  }
  .accordion-item .question {
    font-size: 0.9rem;
    text-shadow: 0px 0px 1px;
  }
  .ques{
    background-color: rgba(189, 26, 26, 0.2);
  }
  .toggle-button
  {
    position: absolute;
    right: -25px;
  }
  .ques .answer
  {
    font-size: 0.8rem;
    text-shadow: 0px 0px 17px black;
  }
}

@media (max-width: 410px) {
  .faqs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-container {
    width: 340px;
    display: flex;
    justify-content: space-between;
  }
  .question {
    font-size: 19px;
  }
  .answer{
    font-size: 19px;
  }
}
