.faqs {
  font-family: "Among Us";
  color: white;
}

.faqs h1 {
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
