.timeline {
  font-family: "among us";
  color: white;

  justify-content: center;
  align-items: center;
}

.timeline-bx h2 {
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 10px;
}

.background-image {
  height: 638px;
  width: 89%;
}

.timeline-slider .item h5 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
}
.timeline-slider .item img {
  height: 200px;
  width: 150px;
  margin-top: 60px;
}
.phone-container {
  position: relative; /* Make the container position relative */
  width: 1000px; /* Adjust width as needed */
  height: 450px; /* Adjust height as needed */
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex; /* Add display flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.phone-container img {
  height: 450px;
  width: 1050px;
  border-radius: 20px;
}
.phone-screen {
  position: absolute;
  left: 70px;
  z-index: 100;
  height: 450px;
  width: 900px;
}
.timeline-bx {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar {
  width: 300px;
  height: 50px; /* Adjust height as needed */
  margin-left: 230px;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  margin-bottom: 10px; /* Align text vertically */
}

.progress-text {
  color: white;
  background-color: #333; /* Dark background color */
  border: 2px solid white; /* White border */
  padding: 10px; /* Adjust padding as needed */
  font-size: 25px; /* Adjust font size as needed */
}

.progress-partitions {
  display: flex;
  align-items: center;
  background-color: #cdcdcd;
}

.progress-item {
  flex-grow: 1;
  height: 10px; /* Height of partitions */
  margin: 0 2px; /* Adjust margin between partitions */
}

.progress-item.filled {
  background-color: rgb(41, 211, 41); /* Color for filled partitions */
}

@media screen and (max-width: 768px) {
  .timeline-bx h2 {
    font-size: 60px;
  }
  .phone-container {
    width: 350px;
    height: 350px;
  }

  .progress-bar {
    width: 70px;
  }

  .timeline-slider .item h5 {
    font-size: 20px;
  }

  .timeline-slider .item img {
    height: 150px;
    width: 90px;
  }

  .progress-bar {
    width: 200px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .timeline {
    margin-left: 7vw;
  }
  .item
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .progress-bar {
    margin-left: 10px;
    margin-top: 20px;
    width: 270px;
  }
  .timeline-bx h2 {
    font-size: 3rem;
    margin-left: -50px;
  }

  .timeline-slider .item h5 {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .timeline-slider .item p{
    font-size: 1rem;
    font-family: var(--font);
  }

  .timeline-slider .item img {
    height: 170px;
    width: 170px;
  }
  .progress-text {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }

  .progress-item {
    height: 8px;
    margin: 0 1px;
  }
  .phone-container {
    
    height: 500px;
  }
  .phone-container img {
    height: 280px;
    width: 450px;
    border-radius: 5px;
    transform: rotate(270deg);
    margin-left: -50px;
  }
  .item img {
    transform: rotate(0deg);
    margin-left: -9px;
  }
  .phone-screen {
    top: 40px;
    left: 20px;
    z-index: 100;
    height: 250px;
    width: 250px;
  }
}
