.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
  justify-content: center;
  font-family: "Among us";
  margin-left: 5%;
  color: white;
  font-size: 100px;
}

.prizes {
  display: flex;
  justify-content: center;
}
.prizes {
  padding-right: 2%;
  width: 8vw;
}

.prize-details{
  width:600px;
  height: 500px;
  margin-top: -20px;
}



@media only screen and (max-width: 468px) {
  .prize-details {
    width: 10px;
  }
  .prizes{
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for small devices */
  .prize-details {
    width: 90vw;
    display: flex;
    justify-content: center;
  }
  .prizes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prizes p{
    font-size: 70px;
  }
  .prize{
    width: 80px;
    margin-right: 4%;
  }
}

@media (max-width:740px)
{
  .page{
    margin-left: -10px;
  }
  .prizes img{
    height:70px;
    width: 70px;
    
  }
  .prizes p{
   font-size: 60px;
  }
  .combined
  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: -30px;
  }
  .combined .prize{
    height: 200px;
    width:300px;
  }
}
