:root {
    --font:"Inconsolata", monospace;
}
@font-face {
    font-family: 'Among Us';
    src: url('./Impostograph-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Among Us';
}