.App {
  text-align: center;
  background-color: bisque;
}
:root {
  --font: "Inconsolata", monospace;
}

body {
  font-family: "Among Us";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  /* background-color: black; */
  height: 100px;
  width: 100%;
  display: flex;
  align-items : center ;
  justify-content: center;
  gap: 30px;
}

.nav_link {
  text-decoration: none;
  font-size: 30px;
  color: white;
  padding: 30px;
  position: relative;
}
.nav_link:hover{
  padding: 8px 12px;
  font-size: 34px;
  font-weight: 400;
  /* background-color: #dddfe1a2;  */
  text-shadow:1px 0 10px  rgb(240, 230, 27) ;
}
