.sponsors {
  position: relative;
  font-family: "Among Us";
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsors .heading {
  border: 2px solid white;
  font-size: 100px;
  padding: 8px;
  margin-bottom: 45px;
}
.sponsors-divs {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  100% {
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
  }
}
.sponsors-divs p {
  font-size: 40px;
  text-shadow: 0px 0px 17px blue;
  color: white;
}

.sponsors-imgs {
  display: flex;
  justify-content: center;
  width: 23vw;
  margin-top: 5px;
}
.sponsors-divs .sponsors-imgs a img {
  background-color: white;
  border-radius: 5px;
  width: 140px;
  height: 80px;
  margin: 0% 10px;
}
.sponsors #angel {
  position: absolute;
  bottom: 75%;
  left: 53%;
}
