.sponsors {
  position: relative;
  font-family: "Among Us";
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* margin-top: 50px; */
}
.sponsors .heading {
  border: 2px solid white;
  font-size: 100px;
  padding: 8px;
  margin-bottom: 45px;
}
.sponsors-divs {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  100% {
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
  }
}
.sponsors-divs p {
  font-size: 40px;
  text-shadow: 0px 0px 17px blue;
  color: white;
  margin: 5%;
}

.sponsors-imgs {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-top: 5px;
}
.sponsors-divs .sponsors-imgs a img {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: 0% 10px;
}
.sponsors #angel {
  position: absolute;
  bottom: 73%;
  left: 52%;
  height: 250px;
}

@media (max-width: 740px) {
  .sponsors{
    margin-bottom: 50px;
  }
  .sponsors-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sponsors-divs .sponsors-imgs a img {
    width: 220px;
  }

  .sponsors-divs p{
    margin: 5%;
  }
}


@media (max-width: 470px) {
  .sponsors-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sponsors-divs .sponsors-imgs a img {
    width: 120px;
    height: 70px;
  }
  .sponsors .heading {
    font-size: 100px;
  }
  .sponsors #angel {
    height: 200px;
    bottom: 82%;
  }
  .sponsors-divs p{
    font-size: 40px;
    margin: 5%;
  }
}